<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a></p>
    </div>
    <h2>Most Recent/Featured Photo from Mars</h2>
    <img src="{{ mars.JPLFeaturedImage }}" alt="Mars">
    <h2>Latest News from Mars</h2>
    <h3>Headline: {{ mars.Headline[1] }}</h3>
    <h3>Teaser: {{ mars.Teaser[0] }}</h3>
    <h2>Table of Facts Re: Mars</h2>
    <table>{{ mars.MarsTable | safe }}</table>
    <h2>Images of the Martian Hemispheres</h2>
    <ul style='list-style: none;'>      
      {% for photo in mars.MaritanHemispherePhotos %}
        <li><h2>{{photo.title}}</h2><img src="{{photo.img_url}}" alt="Hemis"/></li>
      {% endfor %}
  </div>
</div>
</body>

</html>
